@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-weight: 400;
}
body {
  background-color: gray;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  text-decoration: none;
}

h2 {
  font-size: 20px;
  text-decoration: none;
  margin: 40px 0 20px;
}
header li {
  display: inline-block;
  margin: 0 5px;
}
.container {
  background-color: #31006c;
  width: 1270px;
  max-width: 100%;
  margin: 0 auto;
  color: #fafafa;
}

.jobWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.jobForm {
  min-width: 600px;
  min-height: 70vh;
  background-color: #4b1b86;
}

.jobScript {
  min-width: 600px;
  min-height: 70vh;
  background-color: #232729;
  color: #fff;
}
